<div>
  <%= link_to 'home', home_index_path %>
</div>
<br>
<table>
	<tr>
		<th>Item</th>
		<th>Price</th>
		<th>Tax</th>
		<th>Total Price</th>
	</tr>
	<% @items.each do |item| %>
	  <tr>
	  	<th><%= item.name %></th>
	  	<th><%= item.price %></th>
	  	<th><%= display_tax(item) %></th>
	  	<th><%= item.actual_price %> Rs.</th>
	  </tr>
	<% end %>
</table>
<div>
	<b>Total Price : <%= @total_amount %> Rs.</b>
</div>